#results-div {
    width: auto;
    height: 600px;
    border: 15px solid #EC9D00;
    padding-left: 25px;
    padding-right: 25px;
    margin: 10px;
    overflow:auto;
}



h1 {
    text-align: center;
    font-size: 45px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}


.search{
    margin-left: 15px;
    margin-right: 15px;
}

#results-div > p {
    display: block;
    padding-bottom: 2px;
    border-bottom: 0px;
    height: 0px;
    padding-left: 0px;
    font-size: 25px;
    color:  #0e1111;
}

#results-div > p:hover{
    color: blueviolet;
}


#results-div > .noUrl:hover{
    height: 265px;
}

#results-div > .hasUrl:hover{
    height:295px;
}


h5 {
    padding-top: 0px;
    border-left: 0px;
    margin: 2px;
    padding-bottom: 0px;
    color: #0e1111;
}


p {
    white-space: pre;
}

h4{
    margin-left:38%;
    font-size:25px;
    font-family:  'Trebuchet MS', sans-serif;
}

h3{
    padding-left: 20px;
    padding-right: 20px;
}

#random-div{
    font-family:  'Trebuchet MS', sans-serif;
    margin-left: 36%;
    margin-right: 33%;
    align-items: center;
    border: 7px solid #EC9D00;
    border-radius: 25px;
}

.hidden {
    display: none;
    height: 0px;
}

.editBtn {
    margin-left: 10px;
    padding-bottom: 200 px;
}
